[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
jwt = "*"
aioredis = "*"
asyncpg = "*"
alembic = "*"
requests = "*"
pytest-asyncio = "*"
bcrypt = "*"
pyjwt = "*"
apscheduler = "*"
sendgrid = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.sqlalchemy]
extras = [ "asyncio",]
